/* Resetting default margin and padding */
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #c6e2ff;
    color: #000000; /* White text color */
    padding: 20px;
    text-align: center;
}

/* Flexbox container for centering content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff; /* Adding a light background color */
    padding-left: 50px;
    padding-right: 50px;
}

/* Styles for the main content */
main {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff; /* White background color */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    margin-top: 10px;
    padding-left: 10px; /* Adjusting padding for headings */
    border-left: 5px solid #007bff; /* Adding a left border for emphasis */
    padding-bottom: 5px; /* Adding space at the bottom of headings */
    align-self: flex-start;
}

h3 {
    color: #333;
    margin-top: 10px;
    padding-left: 10px; /* Adjusting padding for headings */
    padding-left: 5px;
    padding-bottom: 5px; /* Adding space at the bottom of headings */
}

p {
    color: #666;
    margin-top: 10px;
    line-height: 1.6; /* Increasing line height for readability */
    padding-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold; /* Making links more prominent */
}

table {
    width:100%;
    max-width:1000px;
    border:0px;
    border-spacing:0px;
    border-collapse:separate;
    margin-right:auto;
    margin-left:auto;
}

td {
    padding: 10px;
    vertical-align: top;
}

.profile-img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

.name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for Experience and Projects */
.experience-item,
.project-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info {
    flex-grow: 1;
}

.meta {
    text-align: right;
}

.info {
    flex: 1;
}

.info p {
    margin: 5px 0; /* Add margin for better spacing between lines */
}

.info p:last-child {
    margin-bottom: 0; /* Remove bottom margin from the last paragraph */
}

/* Ensure location and duration appear on the same line without margin */
.location,
.duration {
    margin: 0;
    align-self: flex-end;
    text-align: right;
}

ul {
    line-height: 2; /* Set line height to double the font size */
}